<select class="filter" #sortSelect (change)="sortData(sortSelect.value)">
  <option value="price-asc">По возрастанию цены</option>
  <option value="price-desc">По убыванию цены</option>
  <option value="year-asc">Год: сначала старше</option>
  <option value="year-desc">Год: сначала моложе</option>
</select>
<div>
  <ng-container *ngIf="carListObs$ | async as carsList">
    <div class="cars-list">
      <div class="car" *ngFor="let car of carsList">
        {{ car.price }} <span>{{ car.name }} {{ car.model }}</span>
        {{ car.year }} <button (click)="editCard(car.id)">Редактировать</button>
        <button (click)="deleteCard(car.id)">Удалить</button>
        <button (click)="showOnMap(car.id)">Показать на карте</button>
      </div>
    </div>
  </ng-container>
</div>

<edit-card
  class="form"
  *ngIf="editedItem"
  [editedItem]="editedItem"
  (itemEdited)="addEditedItem($event)"
  (cancelEdit)="closeEditCard()"
>
</edit-card>

<card-map
  class="map"
  *ngIf="mapItem"
  [coordinate]="mapItem"
  (closeMapView)="closeMapView()"
>
</card-map>
